html, body {
    background: #ffffe5;
    height: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    color: #acb534;
}
.game-container {
    display:block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
canvas {
    padding: 16px 0;
}

.options-container {
    font-size: 22px;
    text-align: center;
}

#map-picker {
    font-size: 22px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

i {
    cursor: pointer;
}
